<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">

    <title>SkinDB</title>

    <link rel="apple-touch-icon" sizes="180x180" href="https://SkinDB.net/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://SkinDB.net/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://SkinDB.net/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="https://SkinDB.net/img/favicons/site.webmanifest">
    <link rel="mask-icon" href="https://SkinDB.net/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="https://SkinDB.net/img/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="https://SkinDB.net/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Meta -->
    <meta name="keywords" content="skindb,minecraft,skin,database,search,list">
    <meta name="description"
        content="A huge Minecraft skin database that makes it possible to search for the skin of your choice.">

    <meta property="og:type" content="website">
    <meta property="og:title" content="Click to Visit SkinDB.net">
    <meta property="og:description"
        content="A huge Minecraft skin database that makes it possible to search for the skin of your choice.">
    <meta property="og:image" content="https://skindb.net/img/Logo.png">

    <meta name="twitter:card" content="summary">

    <!-- Authors -->
    <meta name="author" content="inventivetalent">
    <meta name="twitter:creator" content="@Inventivtalent">
    <meta name="flattr:id" content="okelw0">

    <meta name="author" content="Sprax2013">
    <meta name="twitter:site" content="@Sprax2013">

    <!-- Style -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        integrity="sha256-OweaP/Ic6rsV+lysfyS4h+LM6sRwuO3euTYfr6M124g=" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <header>
        <div class="row grey lighten-4 header-bg">
            <div class="container">
                <div class="row">
                    <div class="col s4 m3 l2" style="padding: 8px">
                        <img class="light-shadow" src="./img/Logo.svg">
                    </div>

                    <div class="col s8 m3 l3">
                        <h1 class="header">SkinDB</h1>
                    </div>

                    <div class="col s12 m6 l7">
                        <div class="row">
                            <form class="col s12" onsubmit="event.preventDefault()">
                                <div class="input-field col s12" id="searchBarContainer">
                                    <input type="search" id="searchQuery" oninput="onSearchInput()">
                                    <label for="searchQuery">Search Skin</label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="col s12 m12">
                <div class="card-panel">
                    <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <div class="col s12">
                                    <div class="row" id="skinPreviews"></div>
                                </div>
                            </div>

                            <div class="row center">
                                <a class="btn" id="btnMoreSkins" onclick="showRandomSkins()">
                                    More Skins!
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="row">
                        <div class="col s12">
                            <div class="card-panel">
                                <div class="row">
                                    <div class="col s12">
                                        <h2>Add a Skin</h2>

                                        <div class="row">
                                            <form class="col s12">
                                                <div class="input-field col s12">
                                                    <input type="text" id="provideSkin" required>
                                                    <label for="skinUrl">Skin URL</label>
                                                    <span class="helper-text">Minecraft Skin URL
                                                        (http://textures.minecraft.net/texture/...)</span>
                                                </div>

                                                <div class="col s12">
                                                    <button class="btn" ng-click="addSkin()" ng-hide="skinSubmitted">Add
                                                        it!</button>
                                                    <span ng-show="skinSubmitted"><strong>Thanks for your
                                                            contribution!</strong></span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
            </div>
        </div>

        <div id="skinModal" class="modal">
            <div class="modal-content">
                <!-- <h4>Skin preview</h4>
                <p>A bunch of text</p> -->

                <div class="row">
                    <div class="col s12 m5">
                        <iframe style="min-height:50vmin;" id="mineskinPreview" frameborder="0"></iframe>
                    </div>

                    <div class="col s12 m7">
                        <!-- <h4>Which Tags apply best to this skin?</h4>

                        <div class="row">
                            <a class="skin-tag ng-binding ng-scope" ng-repeat="tag in availableTags"
                                ng-class="{'selected': isTagSelected(tag)}" ng-click="toggleTagSelection(tag)">
                                Nude
                            </a>
                            <a class="skin-tag ng-binding ng-scope" ng-repeat="tag in availableTags"
                                ng-class="{'selected': isTagSelected(tag)}" ng-click="toggleTagSelection(tag)">
                                Male
                            </a>
                            <a class="skin-tag ng-binding ng-scope" ng-repeat="tag in availableTags"
                                ng-class="{'selected': isTagSelected(tag)}" ng-click="toggleTagSelection(tag)">
                                Female
                            </a>
                        </div>

                        <div class="row">
                            <a class="btn" ng-disabled="selectedTags.length===0" ng-click="submitTagSelection()"
                                ng-hide="tagsSubmitted" disabled="disabled">
                                Submit!
                            </a>

                            <span ng-show="tagsSubmitted" class="ng-hide"><strong>Thanks for your
                                    feedback!</strong></span>
                        </div> -->
                    </div>
                </div>
            </div>

            <!-- <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Schließen</a>
            </div> -->
        </div>

    </main>

    <!-- ToDo Footer fixieren -->
    <footer class="page-footer indigo darken-1" style="margin-top:100px;">
        <div class="container">
            <div class="row">
                <div class="col s12 m8">
                    <h5 class="white-text">About</h5>
                    <!--TODO-->
                </div>

                <div class="col s12 m2">
                    <h5 class="white-text">Useful Links</h5>
                    <!--TODO-->
                </div>

                <div class="col s12 m2">
                    <h5 class="white-text">More Links</h5>
                    <!--TODO-->
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                Frontend by <a class="cyan-text" href="https://inventivetalent.org" target="_blank"
                    rel="noopener">inventivetalent</a>,
                Backend & API by <a class="cyan-text" href="https://sprax2013.de" target="_blank">Sprax2013</a>
                <span class="pull-right">
                    This website is not affiliated with Minecraft / Mojang AB.
                </span>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
        integrity="sha256-U/cHDMTIHCeMcvehBv1xQ052bPSbJtbuiw4QA9cTKz0=" crossorigin="anonymous"></script>

    <script src="./script.js"></script>
</body>

</html>