<div class="modal" id="viewModal">
    <div class="modal-content">
        <div class="row">
            <div class="col s12 m5">
                <iframe ng-init="showRandomSkin()" style="min-height:50vmin;" id="skinPreview" ng-src="{{ previewMinerenderUrl }}" src="" frameborder="0"></iframe>
                <!--<img style="max-height: 26vmin;" src="https://tools.inventivetalent.org/skinrender/3d.php?user=http://textures.minecraft.net/texture/a76e9ed560865b515a6de28ec55abaed61ed4c8ed8ba9eb952551406abd4b97&hr=0&vr=0&aa=true" id="skinDisplay">-->
            </div>
            <div class="col s12 m7">
                <div class="row">
                    <h4>Which Tags apply best to this skin?</h4>

                    <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <a class="skin-tag" ng-repeat="tag in availableTags" ng-class="{'selected': isTagSelected(tag)}" ng-click="toggleTagSelection(tag)">
                                    {{ tag }}
                                </a>
                            </div>
                            <div class="row">
                                <a class="btn" ng-disabled="selectedTags.length===0" ng-click="submitTagSelection()" ng-hide="tagsSubmitted">
                                    Submit!
                                </a>
                                <span ng-show="tagsSubmitted"><strong>Thanks for your feedback!</strong></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h5>No matching Tag? Add a new one!</h5>

                        <div class="col s12">
                            <div class="row">
                                <div class="input-field col s10" ng-hide="newTagSubmitted">
                                    <input type="text" id="newTag" ng-model="newTag">
                                    <label for="newTag">New Tag</label>
                                </div>
                                <div class="input-field col s2" ng-hide="newTagSubmitted">
                                    <a class="btn" ng-disabled="!newTag" ng-click="submitNewTag()">
                                        Add!
                                    </a>
                                </div>
                                <span ng-show="newTagSubmitted"><strong>Thanks for your contribution!</strong></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>